.flow-app {
  height: 100%;

  .flow-canvas-view {
    overflow: auto;

    .canvas {
      width: 3000px;
      height: 3000px;
      transform-origin: 0 0;
      position: absolute;
      background: #eee;

      .flow-item {
        z-index: 200;
        width: 300px;
        float: left;
        position: absolute;
        background: #fff;
        transition: position 1s;
        border: 1px solid;
        border-color: #999;

        .header {
          cursor: move;
          padding: 8px;
        }

        .choices {
          padding: 8px 0 8px 8px;
        }

        .conditionals {
          padding: 8px 0 8px 8px;
        }

        .actions {
          padding: 8px 0 8px 8px;
        }
      }
    }
  }
}

/* jsPlumb */
.draggable {
    position: absolute;
}

.jtk-dragged {
    cursor: move;
    z-index: 200 !important;
}

.no-select {
    user-select: none;
}
